In [1]:
#importing the Libraries#
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Reading the Dataset#
dataset=pd.read_csv('insurance_pre.csv')

In [3]:
#what saved in this file#
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
#create dummy data set. #drop a column#
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
#what saved in this file#
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [6]:
#catogorical data convert to numerical data#
dataset=dataset.astype(int)

In [7]:
#what saved in this file#
dataset

      age  bmi  children  charges  sex_male  smoker_yes
0      19   27         0    16884         0           1
1      18   33         1     1725         1           0
2      28   33         3     4449         1           0
3      33   22         0    21984         1           0
4      32   28         0     3866         1           0
...   ...  ...       ...      ...       ...         ...
1333   50   30         3    10600         1           0
1334   18   31         0     2205         0           0
1335   18   36         0     1629         0           0
1336   21   25         0     2007         0           0
1337   61   29         0    29141         0           1

[1338 rows x 6 columns]

In [8]:
#show all columns in dataset#
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [9]:
#independent variable means input.  #split input variables. #dataset assigned to independent variable#
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [10]:
#what saved in this file#
independent

      age  bmi  children  sex_male  smoker_yes
0      19   27         0         0           1
1      18   33         1         1           0
2      28   33         3         1           0
3      33   22         0         1           0
4      32   28         0         1           0
...   ...  ...       ...       ...         ...
1333   50   30         3         1           0
1334   18   31         0         0           0
1335   18   36         0         0           0
1336   21   25         0         0           0
1337   61   29         0         0           1

[1338 rows x 5 columns]

In [11]:
#dependent variable means output.  #split output variables. #dataset assigned to dependent variable#
dependent=dataset[['charges']]

In [12]:
#what saved in this file#
dependent

      charges
0       16884
1        1725
2        4449
3       21984
4        3866
...       ...
1333    10600
1334     2205
1335     1629
1336     2007
1337    29141

[1338 rows x 1 columns]

In [13]:
#machine learning algorithms provider is sklearn #split train set and test set#
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test=train_test_split(independent, dependent,test_size=0.30,random_state=0)

In [14]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [22]:
#Model creation#
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid = {'criterion':['squared_error','absolute_error','friedman_mse','poisson'],
              'max_features':['auto','sqrt','log2'],
              'n_estimators':[10,100]}
              
grid=GridSearchCV(RandomForestRegressor(), param_grid, refit=True, verbose=3,n_jobs=-1)

#fitting the model for grid search
grid.fit(X_train, y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\anandha rishi\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [23]:
#Print best parameter afterr tuning#
#Print(grid.best_params_)
re=grid.cv_results_

print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'squared_error', 'max_features': 'sqrt', 'n_estimators': 100}:

In [24]:
table=pd.DataFrame.from_dict(re)

In [25]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.120896,0.031224,0.003126,0.006252,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",0.844143,0.729103,0.754216,0.792574,0.752638,0.774535,0.040316,24
1,0.668822,0.029222,0.025003,0.007655,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",0.859471,0.773334,0.800141,0.808045,0.774727,0.803144,0.031311,10
2,0.059378,0.006251,0.005051,0.010103,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.834561,0.790561,0.770959,0.801862,0.750338,0.789656,0.028502,18
3,0.552790,0.041276,0.021878,0.007655,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.871745,0.790062,0.803399,0.820057,0.769331,0.810919,0.034654,1
4,0.078131,0.009883,0.003125,0.006250,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.860361,0.774624,0.784816,0.791244,0.750049,0.792219,0.036843,16
5,0.642965,0.006227,0.021877,0.007655,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.864285,0.786527,0.800201,0.819899,0.775915,0.809365,0.031150,5
6,0.246466,0.006056,0.006251,0.007655,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",0.837054,0.774456,0.785311,0.773991,0.763834,0.786929,0.025967,23
7,2.431480,0.103721,0.023563,0.010081,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",0.852375,0.787964,0.792474,0.800900,0.767480,0.800238,0.028294,11
8,0.164806,0.012193,0.000000,0.000000,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.825794,0.760924,0.811160,0.799137,0.772414,0.793886,0.024048,15
9,1.428612,0.102902,0.029451,0.007373,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.855184,0.792364,0.808522,0.821672,0.774385,0.810426,0.027417,2
10,0.168761,0.006252,0.003125,0.006250,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.837639,0.773027,0.780489,0.808710,0.746064,0.789186,0.031385,20
11,1.527628,0.041525,0.027534,0.010766,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.863002,0.788078,0.803928,0.822713,0.773185,0.810181,0.031124,3
12,0.078975,0.001697,0.003125,0.006251,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.857747,0.764769,0.772472,0.794622,0.766130,0.791148,0.034980,17
13,0.768157,0.021104,0.021878,0.007657,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.859468,0.777974,0.794957,0.795237,0.771459,0.799819,0.031254,12
14,0.073149,0.008992,0.004126,0.006068,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.846979,0.768227,0.790273,0.793183,0.773936,0.794520,0.027881,14
15,0.686995,0.073452,0.031254,0.000002,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.858536,0.786384,0.797488,0.818056,0.773132,0.806719,0.029800,7
16,0.066806,0.006103,0.010229,0.008495,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.848314,0.761736,0.782074,0.796913,0.750277,0.787863,0.034249,21
17,0.636806,0.010176,0.021878,0.007656,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.860489,0.787532,0.796299,0.815707,0.769753,0.805956,0.031023,8
18,0.100677,0.008545,0.007453,0.007027,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",0.864835,0.777900,0.782982,0.794856,0.768704,0.797855,0.034538,13
19,0.774660,0.073396,0.021878,0.007657,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",0.861831,0.780974,0.797784,0.799943,0.775430,0.803192,0.030798,9
20,0.071187,0.007201,0.006250,0.007655,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.847988,0.766726,0.770747,0.793467,0.760304,0.787846,0.032080,22
21,0.699001,0.003508,0.025004,0.007657,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.863161,0.781939,0.801885,0.820041,0.772427,0.807891,0.032155,6
22,0.078128,0.000006,0.006251,0.007656,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.839099,0.781996,0.782866,0.797495,0.745689,0.789429,0.030145,19
23,0.693183,0.022991,0.021878,0.007654,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.866140,0.787738,0.802843,0.818744,0.772002,0.809493,0.032304,4

In [26]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("children:"))
sex_male_input=int(input("sex Male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

Age: 32
BMI: 43
children: 2
sex Male 0 or 1: 0
smoker yes 0 or 1: 1

In [27]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[46071.3]