In [1]:
#importing the Libraries#
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Reading the Dataset#
dataset=pd.read_csv('insurance_pre.csv')

In [3]:
#what saved in this file#
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
#create dummy data set. #drop a column#
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
#what saved in this file#
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [6]:
#catogorical data convert to numerical data#
dataset=dataset.astype(int)

In [7]:
#what saved in this file#
dataset

      age  bmi  children  charges  sex_male  smoker_yes
0      19   27         0    16884         0           1
1      18   33         1     1725         1           0
2      28   33         3     4449         1           0
3      33   22         0    21984         1           0
4      32   28         0     3866         1           0
...   ...  ...       ...      ...       ...         ...
1333   50   30         3    10600         1           0
1334   18   31         0     2205         0           0
1335   18   36         0     1629         0           0
1336   21   25         0     2007         0           0
1337   61   29         0    29141         0           1

[1338 rows x 6 columns]

In [8]:
#show all columns in dataset#
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [9]:
#independent variable means input.  #split input variables. #dataset assigned to independent variable#
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [10]:
#what saved in this file#
independent

      age  bmi  children  sex_male  smoker_yes
0      19   27         0         0           1
1      18   33         1         1           0
2      28   33         3         1           0
3      33   22         0         1           0
4      32   28         0         1           0
...   ...  ...       ...       ...         ...
1333   50   30         3         1           0
1334   18   31         0         0           0
1335   18   36         0         0           0
1336   21   25         0         0           0
1337   61   29         0         0           1

[1338 rows x 5 columns]

In [11]:
#dependent variable means output.  #split output variables. #dataset assigned to dependent variable#
dependent=dataset[['charges']]

In [12]:
#what saved in this file#
dependent

      charges
0       16884
1        1725
2        4449
3       21984
4        3866
...       ...
1333    10600
1334     2205
1335     1629
1336     2007
1337    29141

[1338 rows x 1 columns]

In [13]:
from sklearn.svm import SVR

In [14]:
#Model creation#
from sklearn.model_selection import GridSearchCV
param_grid = {'kernel':['rbf','poly','sigmoid','linear'],
              'C':[10,100,1000,2000,3000]}

grid=GridSearchCV(SVR(), param_grid, refit=True, verbose=3,n_jobs=-1)

#fitting the model for grid search
grid.fit(independent,dependent)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

C:\Users\anandha rishi\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=SVR(), n_jobs=-1,
             param_grid={'C': [10, 100, 1000, 2000, 3000],
                         'kernel': ['rbf', 'poly', 'sigmoid', 'linear']},
             verbose=3)

In [15]:
#Print best parameter afterr tuning#
#Print(grid.best_params_)
re=grid.cv_results_

print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'C': 1000, 'kernel': 'linear'}:

In [16]:
table=pd.DataFrame.from_dict(re)

In [17]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.143759,0.006250,0.065423,0.005840,10,rbf,"{'C': 10, 'kernel': 'rbf'}",-0.110604,-0.097319,-0.074639,-0.099453,-0.124373,-0.101278,0.016426,9
1,0.128068,0.003748,0.025964,0.006654,10,poly,"{'C': 10, 'kernel': 'poly'}",-0.124957,-0.081216,-0.112434,-0.131866,-0.180377,-0.126170,0.032193,12
2,0.199731,0.022700,0.043751,0.006252,10,sigmoid,"{'C': 10, 'kernel': 'sigmoid'}",-0.116803,-0.119471,-0.085214,-0.108348,-0.108677,-0.107703,0.012070,10
3,0.175008,0.006245,0.021113,0.006826,10,linear,"{'C': 10, 'kernel': 'linear'}",-0.018955,0.029849,0.022073,0.002907,-0.066633,-0.006152,0.034631,6
4,0.177562,0.006671,0.078128,0.009883,100,rbf,"{'C': 100, 'kernel': 'rbf'}",-0.160451,-0.106698,-0.123682,-0.137689,-0.209899,-0.147684,0.035748,17
5,0.175211,0.013790,0.028281,0.005939,100,poly,"{'C': 100, 'kernel': 'poly'}",-0.133326,-0.082136,-0.128819,-0.139939,-0.189249,-0.134694,0.034066,14
6,0.221475,0.005425,0.047086,0.000411,100,sigmoid,"{'C': 100, 'kernel': 'sigmoid'}",-0.143352,-0.161177,-0.118624,-0.136868,-0.130144,-0.138033,0.014172,15
7,0.369877,0.046394,0.031253,0.000002,100,linear,"{'C': 100, 'kernel': 'linear'}",0.559219,0.522001,0.548044,0.538809,0.508484,0.535311,0.018127,4
8,0.184870,0.003531,0.078130,0.000002,1000,rbf,"{'C': 1000, 'kernel': 'rbf'}",-0.155602,-0.098709,-0.123343,-0.137015,-0.206798,-0.144293,0.036344,16
9,0.215429,0.015492,0.031043,0.002605,1000,poly,"{'C': 1000, 'kernel': 'poly'}",-0.079696,-0.027949,-0.073353,-0.086852,-0.133994,-0.080369,0.033809,8
10,0.224796,0.012068,0.050003,0.006253,1000,sigmoid,"{'C': 1000, 'kernel': 'sigmoid'}",-2.130154,-2.763336,-2.289198,-2.294365,-2.015103,-2.298431,0.254884,18
11,1.806066,0.696570,0.021882,0.007653,1000,linear,"{'C': 1000, 'kernel': 'linear'}",0.736521,0.675075,0.680124,0.699376,0.677811,0.693781,0.023019,1
12,0.196089,0.006844,0.078835,0.001411,2000,rbf,"{'C': 2000, 'kernel': 'rbf'}",-0.143356,-0.087846,-0.112872,-0.128714,-0.193701,-0.133298,0.035366,13
13,0.294782,0.016708,0.025002,0.007652,2000,poly,"{'C': 2000, 'kernel': 'poly'}",-0.019533,0.036493,-0.011291,-0.024049,-0.075868,-0.018850,0.035773,7
14,0.232278,0.012129,0.053128,0.007656,2000,sigmoid,"{'C': 2000, 'kernel': 'sigmoid'}",-7.474007,-9.743959,-8.126478,-8.033118,-7.132666,-8.102046,0.898371,19
15,2.435882,0.358863,0.022006,0.007556,2000,linear,"{'C': 2000, 'kernel': 'linear'}",0.682165,0.630689,0.750637,0.646162,0.722122,0.686355,0.045040,2
16,0.199805,0.007643,0.081258,0.006251,3000,rbf,"{'C': 3000, 'kernel': 'rbf'}",-0.128943,-0.075310,-0.100082,-0.116037,-0.179477,-0.119970,0.034719,11
17,0.316994,0.023816,0.029380,0.007291,3000,poly,"{'C': 3000, 'kernel': 'poly'}",0.038164,0.098778,0.049740,0.036740,-0.019782,0.040728,0.037776,5
18,0.224696,0.012360,0.046876,0.000002,3000,sigmoid,"{'C': 3000, 'kernel': 'sigmoid'}",-16.310538,-21.466286,-17.817984,-17.449504,-15.533091,-17.715481,2.043843,20
19,3.777415,0.899056,0.021880,0.007655,3000,linear,"{'C': 3000, 'kernel': 'linear'}",0.677332,0.626595,0.732568,0.633171,0.698823,0.673698,0.039928,3

In [18]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("children:"))
sex_male_input=int(input("sex Male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

Age: 32
BMI: 43
children: 2
sex Male 0 or 1: 0
smoker yes 0 or 1: 1

In [19]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[30616.3610915]

C:\Users\anandha rishi\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(