In [1]:
#importing the Libraries#
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Reading the Dataset#
dataset=pd.read_csv('insurance_pre.csv')

In [3]:
#what saved in this file#
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
#create dummy data set. #drop a column#
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
#what saved in this file#
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [6]:
#catogorical data convert to numerical data#
dataset=dataset.astype(int)

In [7]:
#what saved in this file#
dataset

      age  bmi  children  charges  sex_male  smoker_yes
0      19   27         0    16884         0           1
1      18   33         1     1725         1           0
2      28   33         3     4449         1           0
3      33   22         0    21984         1           0
4      32   28         0     3866         1           0
...   ...  ...       ...      ...       ...         ...
1333   50   30         3    10600         1           0
1334   18   31         0     2205         0           0
1335   18   36         0     1629         0           0
1336   21   25         0     2007         0           0
1337   61   29         0    29141         0           1

[1338 rows x 6 columns]

In [8]:
#show all columns in dataset#
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [9]:
#independent variable means input.  #split input variables. #dataset assigned to independent variable#
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [10]:
#what saved in this file#
independent

      age  bmi  children  sex_male  smoker_yes
0      19   27         0         0           1
1      18   33         1         1           0
2      28   33         3         1           0
3      33   22         0         1           0
4      32   28         0         1           0
...   ...  ...       ...       ...         ...
1333   50   30         3         1           0
1334   18   31         0         0           0
1335   18   36         0         0           0
1336   21   25         0         0           0
1337   61   29         0         0           1

[1338 rows x 5 columns]

In [11]:
#dependent variable means output.  #split output variables. #dataset assigned to dependent variable#
dependent=dataset[['charges']]

In [12]:
#what saved in this file#
dependent

      charges
0       16884
1        1725
2        4449
3       21984
4        3866
...       ...
1333    10600
1334     2205
1335     1629
1336     2007
1337    29141

[1338 rows x 1 columns]

In [13]:
from sklearn.ensemble import RandomForestRegressor

In [16]:
from sklearn.model_selection import GridSearchCV
#from sklearn.tree import Random Forest

param_grid = {'criterion':['poisson', 'absolute_error', 'squared_error', 'friedman_mse'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]}


grid_search= GridSearchCV(RandomForestRegressor(), param_grid=param_grid, refit = True, verbose= 3,n_jobs=-1)
# fitting the model for grid search
grid_search.fit(independent,dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\anandha rishi\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['poisson', 'absolute_error',
                                       'squared_error', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [19]:
# print best parameter after tuning
#print(grid.best_params_)
re=grid_search.cv_results_
print("The R_score value for best parameter {}:".format(grid_search.best_params_))

The R_score value for best parameter {'criterion': 'squared_error', 'max_features': 'sqrt', 'n_estimators': 100}:

In [20]:
table=pd.DataFrame.from_dict(re)

In [21]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.178897,0.079141,0.014202,0.003075,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",0.837774,0.729733,0.840069,0.799069,0.824211,0.806171,0.040906,22
1,1.106794,0.039066,0.042233,0.006080,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",0.841938,0.762863,0.862520,0.804860,0.829874,0.820411,0.034292,13
2,0.106716,0.014811,0.012515,0.003201,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.841060,0.765646,0.835730,0.809643,0.821576,0.814731,0.026893,18
3,1.020421,0.135823,0.044785,0.021418,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.851467,0.779236,0.856965,0.824664,0.839641,0.830395,0.027877,3
4,0.096883,0.006252,0.012501,0.006250,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.843724,0.767566,0.843833,0.807130,0.830164,0.818483,0.028767,14
5,0.867752,0.017035,0.037504,0.007657,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.854932,0.770350,0.853605,0.822688,0.836090,0.827533,0.030974,8
6,0.383050,0.005958,0.006250,0.007655,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",0.810132,0.746323,0.842485,0.830496,0.832408,0.812369,0.034653,20
7,3.679248,0.039774,0.034382,0.006251,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",0.834080,0.762238,0.855962,0.818430,0.836641,0.821470,0.031927,10
8,0.231261,0.007703,0.009377,0.007656,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.846512,0.763217,0.828631,0.813748,0.837139,0.817849,0.029365,15
9,2.083117,0.168066,0.025190,0.005486,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.853825,0.774023,0.853381,0.825673,0.843340,0.830048,0.029814,4
10,0.240642,0.023386,0.009376,0.007655,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.845497,0.752545,0.851227,0.816791,0.837417,0.820695,0.036019,11
11,2.232013,0.040816,0.031253,0.000002,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.854998,0.770631,0.852899,0.828089,0.841335,0.829590,0.031001,5
12,0.100729,0.007021,0.008051,0.007005,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",0.799583,0.750874,0.836602,0.794924,0.827385,0.801874,0.030038,24
13,0.912318,0.012742,0.031254,0.000002,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",0.841606,0.765553,0.858400,0.804007,0.833047,0.820522,0.032651,12
14,0.082593,0.006154,0.004908,0.006374,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.836799,0.757572,0.840400,0.807336,0.827403,0.813902,0.030414,19
15,0.702537,0.049514,0.034377,0.006250,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.853082,0.777717,0.859208,0.823098,0.839134,0.830448,0.029153,1
16,0.065272,0.004902,0.001658,0.003317,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.848353,0.768327,0.837504,0.806554,0.814962,0.815140,0.027815,17
17,0.707480,0.035182,0.030772,0.003321,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.851686,0.774098,0.854712,0.820974,0.838473,0.827989,0.029459,7
18,0.096882,0.006249,0.012501,0.006250,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.830046,0.748525,0.844537,0.797301,0.816883,0.807458,0.033317,21
19,0.920886,0.020987,0.031252,0.000002,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.844893,0.770735,0.853104,0.805222,0.833485,0.821488,0.030106,9
20,0.082786,0.009306,0.001798,0.003596,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.832339,0.749765,0.823132,0.812655,0.812498,0.806078,0.029107,23
21,0.731486,0.013781,0.036950,0.007031,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.852696,0.777548,0.858504,0.823509,0.839729,0.830397,0.029034,2
22,0.082588,0.005930,0.010977,0.006231,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.846347,0.746111,0.838969,0.819751,0.824963,0.815228,0.035846,16
23,0.728944,0.010016,0.030579,0.001347,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.856033,0.775586,0.850851,0.823721,0.838255,0.828889,0.028895,6

In [22]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("children:"))
sex_male_input=int(input("sex Male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

Age: 32
BMI: 43
children: 2
sex Male 0 or 1: 0
smoker yes 0 or 1: 1

In [24]:
Future_Prediction=grid_search.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[45395.48]

C:\Users\anandha rishi\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(